<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.exam.bookingSystem.mapper.LectTableMapper">

    <!-- BackOffice Start -->
    
    <!-- 강연 목록(전체 강연 목록) -->
    <select id="getLectAll" parameterType = "String" resultType="com.exam.bookingSystem.model.LectList" >
       SELECT lecturerName FROM lect_TB
       where 1=1
       <if test='lecturerName!= null and lecturerName!=""'>
              AND lecturerName = #{lecturerName}
       </if>
    </select>
    
    <!-- 강연 등록(강연자, 강연장, 신청인원, 강연시간, 강연 내용 입력) -->
    <insert id="insertLect" parameterType="com.exam.bookingSystem.model.LectList">
       INSERT INTO Lect_TB(lecturerName, placeName, capCnt, dateTimeStamp, lectDesc)
       VALUES(#{lecturerName}, #{placeName}, #{capCnt}, #{dateTimeStamp}, #{lectDesc})
    </insert>
    
    <!-- 강연신청자 목록(강연별 신청한 사번 목록) -->
    <select id="getLectEmpList" resultType="com.exam.bookingSystem.model.LectApplyList" >
       SELECT lecturerName, empNo 
       FROM lect_Emp_TB
       ORDER BY lecturerName, empNo
    </select>
    
    <!-- BackOffice End -->
    
    <!-- Front Start -->
    
    <!-- 강연 목록(신청 가능한 싯점(강연시작시간 1주일 전 노출)부터 강연시작시간 1일 후까지 노출) -->
    <select id="getLectBefore7days" resultType="com.exam.bookingSystem.model.LectList" >
       SELECT *
       FROM lect_TB
       WHERE dateTimeStamp > = TO_CHAR(SYSDATE-7,'YYYYMMDDHH24MI')
       ORDER BY dateTimeStamp desc
    </select>
    
    <!-- 강연 신청(사번(5자리)만 입력, 같은 강연 중복 신청 제한) -->
    <insert id="insertLectEmp" parameterType="com.exam.bookingSystem.model.LectApplyList">
       INSERT INTO lect_Emp_TB(lecturerName, empNo) 
       VALUES(#{lecturerName}, #{empNo})
    </insert>
    
    <!-- 신청 내역 조회 (사번 입력) -->
    <select id="getLectListByEmp" parameterType="String" resultType="com.exam.bookingSystem.model.LectApplyList" >
       SELECT lecturerName FROM lect_Emp_TB WHERE empNo = #{empNo} 
    </select>
    
    <!-- 신청한 강연 취소(조회한 신청한 강연 정보 취소) -->
    <delete id="deleteLectEmp" parameterType="com.exam.bookingSystem.model.LectApplyList">
       DELETE FROM lect_Emp_TB WHERE lecturerName = #{lecturerName} AND empNo = #{empNo}
    </delete>
    
    <!-- 실시간 인기 강연(실시간 3일간 가능 신청이 많은 강연순) -->
    <select id="getLectRank" resultType="com.exam.bookingSystem.model.LectApplyList" >
       SELECT e.lecturerName as lecturerName
       FROM Lect_TB t, lect_Emp_TB e
       WHERE t.dateTimeStamp BETWEEN TO_CHAR(SYSDATE-3,'YYYYMMDDHH24MI') AND TO_CHAR(SYSDATE,'YYYYMMDDHH24MI')
       AND t.lecturerName = e.lecturerName
       GROUP BY e.lecturerName
       ORDER BY COUNT(*) desc
    </select>  
    
    <!-- Front End --> 
    
    <!-- 강연 등록 전 중복 둥록 확인 -->
    <select id="getLectCnt" parameterType="com.exam.bookingSystem.model.LectList" resultType="int" >
       SELECT count(*) FROM lect_TB
       WHERE lecturerName = #{lecturerName} 
       AND  placeName = #{placeName}
       AND capCnt = #{capCnt}
       AND dateTimeStamp = #{dateTimeStamp}
    </select>
    
    <!-- 강연 신청 전 중복 신청 확인 -->
    <select id="getLectEmpCnt" parameterType="com.exam.bookingSystem.model.LectApplyList" resultType="int" >
       SELECT count(*) FROM lect_Emp_TB WHERE lecturerName = #{lecturerName} and empNo = #{empNo}
    </select>
    
</mapper>
